@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2? family= Passion+One & family= Sriracha & display=swap');
@font-face {
    font-family: 'Sriracha';
    src: url('../fontes/Sriracha/Sriracha-Regular.ttf') format('opentype');
}


:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
   
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps; /*Deixa em letras maisculas mas de uma forma mais descreta*/
    font-family: var(--fonte2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh; /*Ganhando 10% da altura da view hight de padding. Fazendo com q tenha sempre um trecho por vez na tela */
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

.normal{
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgba(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black ;
}

#img1{
    background-image: url('../imagens/flor1.jpg');
    background-position: right center;
    
}

#img2{
    background-image: url('../imagens/carta2.jpg');
    background-position: right center;
}

footer{
    font-family: var(--fonte3);
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}